@use 'utils/variables';
@use 'base/reset';
@use 'base/typography.scss';
@use 'layout/header';
@use 'layout/hero';
@use 'layout/footer';
@use 'components/buttons';
@use 'components/divider';
@use 'components/gallery';

.container {
    width: min(90%, 1110px);
    margin-inline: auto;
}