@use "../utils/variables" as v;

.footer {
  text-align: center;
  color: var(--clr-white);
  position: relative;
  margin-block-start: 5rem;

  &__content {
    background-color: var(--clr-cyan-600);
    background-image: linear-gradient(
        rgba(77, 150, 169, 0.9),
        rgba(77, 150, 169, 0.9)
      ),
      url("../../assets/mobile/image-footer.jpg");
    background-size: cover;
    background-position: center;
    padding-block: 6rem;

    @media (min-width: 768px) {
      background-image: linear-gradient(
          rgba(77, 150, 169, 0.9),
          rgba(77, 150, 169, 0.9)
        ),
        url("../../assets/desktop/image-footer.jpg");
    }
  }

  &__title {
    font-size: clamp(2rem, 4vw, 2.5rem);
    margin-block-end: 2rem;
    color: var(--clr-white);
  }

  &__text {
    max-width: 35ch;
    margin-inline: auto;
    margin-block-end: 2.5rem;
    color: var(--clr-white);
    opacity: 0.8;
  }
}

.divider--footer {
  margin-block-end: -28px;
  position: relative;
  z-index: 10;
}
