@use "../utils/variables" as v;

.hero {
  padding-block: 3rem;
  text-align: center;
  overflow: hidden;

  &__image-wrapper {
    display: none;
  }

  &__mobile-img {
    display: block;
    margin-inline: auto;
    margin-block-end: 3rem;
    width: 100%;
    max-width: 450px;
    @media (min-width: 768px) {
      max-width: 820px;
    }
  }

  &__title {
    font-size: var(--fs-heading-xl);
    color: var(--clr-meutral-900);
    line-height: 1.1;
    margin-block-end: 1.5rem;
    font-weight: var(--fw-bold);
  }

  &__description {
    color: var(--clr-neutral-400);
    font-size: 1rem;
    max-width: 35ch;
    margin-inline: auto;
    margin-block-end: 2rem;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
    align-items: center;
    gap: 0;
    padding-block: 5rem;
    max-width: 100vw;
    overflow: hidden;

    &__mobile-img {
      display: none;
    }
    &__image-wrapper {
      display: block;

      &--left {
        justify-self: end;
        margin-inline-start: -3rem;
      }

      &--right {
        justify-self: start;
        margin-inline-end: -3rem;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &__content {
      margin-block-start: 0;
      padding-inline: 2rem;
      width: 100%;
      max-width: none;
    }
  }
}
