@use '../utils/variables' as v;

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 5rem; 

  &__line {
    width: 1px;
    height: 84px;
    background-color: var(--clr-neutral-400);
    opacity: 0.25; 
  }

  &__number {
    width: 3.5rem;
    height: 3.5rem;
    display: grid;
    place-items: center;
    border: 1px solid rgba(135, 158, 161, 0.25); 
    border-radius: 50%;
    background-color: var(--clr-white);
    color: var(--clr-neutral-400);
    font-weight: var(--fw-bold);
    
    // Menghilangkan overlap garis dengan lingkaran
    margin-block-start: -1px; 
  }
}