*, *::before, *::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img, picture {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
  cursor: pointer;
}
