.overline {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: var(--fw-bold);
  color: var(--clr-cyan-600);
  margin-block-end: 1rem;
  display: block; 
}

.section-title {
  font-size: clamp(2rem, 4vw, 2.5rem);
  line-height: 1.1;
  color: var(--clr-neutral-900);
  margin-block-end: 2rem;
  font-weight: var(--fw-bold);
}

.section-text {
  color: var(--clr-neutral-400);
  line-height: 1.6;
}